*.out
*.aux
*.log
*.toc
*.nav
*.snm
*.toc
*.class
.metadata
.classpath
.project
target
.settings
*.svg
*.sublime*
.rbenv-version
*.bbl
*.blg
*.synctex*

*~
*.DS_Store
*solution*.pdf
*project*.pdf
*.tex~
*.tex.*
*.log
*.synctex.gz
*.aux
*.toc
*.dvi
*.mmo
*.ps
*.pyc
*.out
*.class
.metadata
.classpath
.project
.cproject
.bin*
.obj*
*.hi
*.o
.lib
.svn
*.fdb_latexmk

